body {
    background:rgb(170, 162, 162);color:rgb(8, 8, 8);font-family: 'Times New Roman', Times, serif;font-size:20px;min-width: 1000px;
}
.container{
    position: relative;
    height:600px;
    border:2px solid black;
    background:rgb(116, 88, 88);

}
.container *{
    position: absolute;
    
}
.applicant_id_box{
    height: 46px;
    left:7.5%;
    right: 7.5%;
    top:20px;
    padding:10px;
    color: black;
    background:rgb(170, 162, 162);
    text-align: center;
}
.applicant_id_box *{
    position: relative;
    font-size: 35px;
}
.biometrics_box {
    height: 400px;
    left:7.5%;
    right: 7.5%;
    top:90px;
    border:10px solid rgb(170, 162, 162);
    border-radius: 10px;
}
.biometrics_box input{
   
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    height: 200px;
    border: 2px solid black;

}
.button_box{
    height: 100px;
    left:7.5%;
    right: 7.5%;
    bottom: 20px;
    background:rgb(170, 162, 162);
    
}
.button_box button{
    position: relative;
    width: 7.5%;
    height: 40px;
    font-size: 20px;
    top: 20px;
    left:59%;
    color: gold;
    border: 2px solid black;
    background-color: rgb(153, 18, 18);
    border-radius: 10px;
    cursor: pointer;
}
.button_box #back_btn{
    left:2%;
    
}
.button_box input{
    width: 98.2%;
    left: 0.9%;
    padding: 2px 0px;
    background-color:rgb(116, 88, 88) ;
    border: none;
    color: black;
    font-size: 20px;
    text-align: center;
    
}