body {
    background:rgb(170, 162, 162);color:rgb(8, 8, 8);font-family: 'Times New Roman', Times, serif;font-size:20px;text-align:left;
}
h1 {
    color:rgb(99, 12, 12);font-size:38px;text-align:center;font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: rgb(71, 69, 69);
  }
  
.navbar a {
    padding: 6px 8px 6px 16px;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    
  }
.navbar a:hover {
    color: #ffffff;
  }

label,select{
    width: 10%;
    float: left;
    color: rgb(31, 2, 2);
    padding: 6px;
    font-family: Arial;
}
input{
  width: 40%;
  padding: 4px 20px;
  margin: 6px 0;
  border: 1px solid rgb(170, 162, 162);
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: 10%;
  background-color: rgb(156, 40, 40);
  color: white;
  padding: 6px 20px;
  margin: 3px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3f0000;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; 
}
td,th,tr{
  border: 1px solid;
  height: 30px;
  padding: 10px;
  text-align: center;
 
}
.tableQ{
   max-width: 100%;
}
tr:hover {background-color:rgb(197, 195, 195);}
th {
  background-color: rgb(71, 69, 69);
  color: rgb(255, 255, 255);
}
.button1 {
  background-color: rgb(202, 78, 78); 
  color: rgb(255, 255, 255); 
  border: 2px solid rgb(202, 78, 78);
  position: absolute;
  top: 20px;
  right: 1.5%;
}

.button1:hover {
  background-color: rgb(170, 162, 162);
  color: rgb(255, 255, 255);
}
.searchUpdate {
  width: 10%;
  padding: 4px 20px;
  margin: 6px 0;
  border: 1px solid rgb(170, 162, 162);
  border-radius: 4px;
  box-sizing: border-box;
}
.searchUpdate:focus {
  background-color: rgb(214, 214, 214);
}

.search_box{
  height: 70px;
  left:7.5%;
  right: 7.5%;
  top:20px;
  padding:10px;
  color: black;
  background:rgb(170, 162, 162);
  text-align: center;
  border-radius: 10px;
  
}
/* .search_box *{
  position: relative;
  top: 6px;
  
} */
.search_box .searchform label{
  top: 8px;
  font-size: 30px;
  
}