body {
    background:rgb(170, 162, 162);color:rgb(8, 8, 8);font-family: 'Times New Roman', Times, serif;font-size:20px;min-width: 1000px;
}
.container{
    position: relative;
    height:600px;
    min-width: fit-content;
    border:2px solid black;
    background:rgb(116, 88, 88);

}
.container *{
    position: relative;;
    
}
.search_box{
    height: 46px;
    width: 70%;
    left:12%;
    right: 7.5%;
    top:20px;
    padding:10px;
    color: black;
    background:rgb(116, 88, 88);
    text-align: center;
    
    
}
.search_box *{
    position: relative;
    font-size: 35px;
}
.search_box input{
    border:2px solid black;
}
.search_box #search_btn{
    border-radius: 10px;
    color: gold;
    border: 2px solid black;
    background-color: rgb(153, 18, 18);
}
.search_box #search_btn:active{
    color: rgb(153, 18, 18);
    background-color:gold;
    
}
.search_box #search_btn:hover{
    cursor: pointer;
    
}

.popup{
    background-color:rgb(116, 88, 88);
    height: 46px;
    width: 70%;
    left:15%;
    right: 15%;
    top:20px;
    font-size: 27px;
    font-style: oblique;
}
