body {
  background:rgb(194, 188, 188);color:rgb(8, 8, 8);font-family: 'Times New Roman', Times, serif;font-size:20px;text-align:left;
}
h1 {
    color:rgb(99, 12, 12);font-size:38px;text-align:center;font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: rgb(71, 69, 69);
  }
  
.navbar a {
    padding: 6px 8px 6px 16px;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    
  }
.navbar a:hover {
    color: #ffffff;
  }

label,select{
    width: 15%;
    float: left;
    color: rgb(31, 2, 2);
    padding: 6px;
    font-family: Arial;
    
}
input{
  width: 40%;
  padding: 4px 20px;
  margin: 6px 0;
  border: 1px solid rgb(170, 162, 162);
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: 10%;
  background-color: rgb(156, 40, 40);
  color: white;
  padding: 6px 20px;
  margin: 3px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3f0000;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; 
}
td,th,tr{
  border: 1px solid;
  height: 30px;
  padding: 10px;
  text-align: center;
 
}
.tableQ{
   max-width: 100%;
}
tr:hover {background-color:rgb(197, 195, 195);}
th {
  background-color: rgb(71, 69, 69);
  color: rgb(255, 255, 255);
}
.button1 {
  background-color: rgb(202, 78, 78); 
  color: rgb(255, 255, 255); 
  border: 2px solid rgb(202, 78, 78);
  position: absolute;
  top: 20px;
  right: 1.5%;
}

.button1:hover {
  background-color: rgb(170, 162, 162);
  color: rgb(255, 255, 255);
}
.searchUpdate {
  width: 10%;
  padding: 4px 20px;
  margin: 6px 0;
  border: 1px solid rgb(170, 162, 162);
  border-radius: 4px;
  box-sizing: border-box;
}
.searchUpdate:focus {
  background-color: rgb(214, 214, 214);
}

/* .......................................................................................................... */
.container_C1V{
  /* border: 2px solid rgb(8, 1, 1); */
  position: relative;
  height: 1050px;

}
.container_C1V *{
  position: absolute;
  border-radius: 6px;
  
}
.container_C1A{
  /* border: 2px solid rgb(8, 1, 1); */
  position: relative;
  height: 1325px;

}
.container_C1A *{
  position: absolute;
  border-radius: 6px;
  
}
.search_box{
  padding:10px;
  /* border: 2px solid rgb(87, 82, 82); */
  background:rgb(170, 162, 162);
  text-align: center;
  top: 20px;
 left: 10%;
 right: 10%;
}
.search_box *{
  position: relative;
  
}
.applicantDetails_box {
  padding:10px;
  background:rgb(170, 162, 162);
  top: 120px;
  left: 10%;
  right:10%;
  /* border: 2px solid rgb(98, 36, 212); */
}
.applicantDetails_box *{
  position: relative;
  
}
.applicantDetails_box button{
  left: 16.3%;
}