body {
    background:rgb(194, 188, 188);color:rgb(8, 8, 8);font-family: 'Times New Roman', Times, serif;font-size:20px;min-width: 1000px;
}
.container{
    position: relative;
    height:600px;
    min-width: fit-content;
    background:rgb(194, 188, 188);

}
.container *{
    position: absolute;
    
}

.title{
    height: 70px;
    left:7.5%;
    right: 7.5%;
    top:10px;
    padding:10px;
    color: black;
    background:rgb(170, 162, 162);
    text-align: center;
    border-radius: 10px;
    
}
.title *{
    position: relative;
    top: 6px;
    
}
.title h1{
    margin-top: 5px; 
    top: 8px;
    font-size: 40px;
    color: rgb(31, 6, 6); 
    
}

.applicantDetails_box{
    height: 340px;
    left:7.5%;
    right: 7.5%;
    top:110px;
    padding: 10px 50px;
    color: black;
    border-radius: 10px;
    background:rgb(170, 162, 162);
}
.applicantDetails_box *{
    position: relative;
    left:20%;
    border: none;
}
.applicantDetails_box h1{
    margin-top: 5px; 
    left:0px;
    color:rgb(99, 12, 12)
}
.applicantDetails_box label{
    color: rgb(31, 2, 2);
    font-family: Georgia, Times, 'Times New Roman', serif;
    width: 15%;
    float: left;
}
.applicantDetails_box input{
    font-size: 16px;
    color: black;
    background-color:rgb(170, 162, 162) ;
    border: 1px solid rgb(17, 12, 12);
    border-radius: 5px;
    padding-left: 10px;
}

#loginSuccessDetail{
    height: 80px;
    left:7.5%;
    right: 7.5%;
    bottom: 50px;
    background:rgb(194, 188, 188);
    text-align: center;
    
}
#loginSuccessDetail *{
    position: relative;
    width: 33%;
    height: 50px;
    font-size: 20px;
    top: 20px;
    color:white;
    border:none;
    background-color: rgb(156, 40, 40);
    border-radius: 10px;
    cursor: pointer;
}
.logout {
    width: 10%;

    background-color: rgb(202, 78, 78); 
    color: rgb(255, 255, 255); 
    border: 2px solid rgb(202, 78, 78);
    position: absolute;
    top: 20px;
    right: 1.5%;

    padding: 6px 20px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout:hover {
    background-color: rgb(170, 162, 162);
    color: rgb(255, 255, 255);
  }